[Unit]
Description=Carim discord bot
After=network.target

[Service]
ExecStart=carim-bot
Type=simple
RestartSec=5
Restart=always
StandardOutput=append:/var/log/carim.log
StandardError=append:/var/log/carim.log

[Install]
WantedBy=multi-user.target
